body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
  background: #000000;
  color: #b7b7b7;
}

header {
  background: #000000;
  color: rgb(255, 0, 0);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#hero {
  text-align: center;
  padding: 4rem 2rem;
  background: #800000;
}

section {
  padding: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #000000;
  color: rgb(255, 0, 0);
}
